<!DOCTYPE html>
<html>
	<head>
		<title>Rhea's Spices</title>
		<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="/stylesheet/main.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	</head>
	<body>		
		<nav class="navbar navbar-dark navbar-expand-lg">
			<div class="container"><a href="/" class="navbar-brand text-white">
				<img src="/images/rheaspicewhite.png" class="d-inline-block align-top" alt=""></a>
				<button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
					<span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navcol-1">
					<ul class="nav navbar-nav">
						<li role="presentation" class="nav-item"><a href="/products" class="nav-link text-white active">STORE</a></li>
						<li role="presentation" class="nav-item"><a href="/blog" class="nav-link text-white">BLOG</a></li>
						<li role="presentation" class="nav-item"><a href="/recipes" class="nav-link text-white">RICETTE</a></li>
					</ul>
					<div class="ml-auto">
						<a  class="btn btn-light action-button" href="/cart">
							<i class="nav-link fas fa-shopping-cart"> CARRELLO</i>
							<% if(session.cart && session.cart.totalQty > 0){ %><span class="badge badge-secondary"><%= session.cart.totalQty %><% } %></span>
						</a>
						<% if(!currentUser){ %>
							<a class="btn btn-light action-button" role="button" href="/login">ACCEDI</a>
							<a class="btn btn-light action-button" role="button" href="/register">ISCRIVITI</a>
						<% } else { %>
							<a class="btn btn-success action-button" role="button" href="/orders/<%= currentUser._id %>"><%= currentUser.username %> ORDINI</a>
							<a class="btn btn-light action-button" role="button" href="/logout">LOGOUT</a>
						<% } %>
					</div>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<% if(error && error.length > 0){ %>
				<div class="alert alert-danger" role="alert">
					<%= error %>
			    </div>
			<% } %>
			<% if(success && success.length > 0){ %>
				<div class="alert alert-success" role="alert">
					<%= success %>
				</div>
			<% } %>
		</div>
			
