<% include ../partials/header %>
<div class="container">
	<% if(products !== null) { %>
	
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-2 col-sm-offset-3">
			<ul class="list-group">
				<% products.forEach(function(product){ %>
					<li class="list-group-item">
					<span class="badge badge-secondary"><%= product.qty %></span>
					<strong><%= product.item.name %></strong>
					<span class="badge badge-success"><%= product.item.price * product.qty %>€</span>
					<div class="btn-group">
						<a href="/cart/reduce/<%= product.item._id %>" class="btn btn-primary btn-sm">- 1</a>
							<a class="btn btn-danger btn-sm" href="cart/remove/<%= product.item._id %>">X</a>
					</div>
				</li>
				<% }) %>
			</ul>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-6 col-md-3 col-md-offset-2 col-sm-offset-3">
			<strong>Totale: <%= parseFloat(totalPrice).toFixed(2) %>€ </strong>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-6 col-md-3 col-md-offset-2 col-sm-offset-3">
			<form action="/checkout/paypal" method="POST">
				<button class="btn btn-success"><i class="fab fa-paypal"> Paga con PayPal</i></button>
			</form>
		</div>
	</div>
	<% } else {%>
	<div class="row">
		<div class="col-sm-6 col-md-3 col-md-offset-2 col-sm-offset-3">
			<strong><h1>Il carrello è vuoto</h1></strong>
		</div>
	</div>
	<% } %>
</div>

<% include ../partials/footer %>